/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gnome-sudoku.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gnome-sudoku.xml
/cs/cs.po
/cs/gnome-sudoku.xml
/da/da.po
/da/gnome-sudoku.xml
/de/de.po
/de/gnome-sudoku.xml
/el/el.po
/el/gnome-sudoku.xml
/en_GB/en_GB.po
/en_GB/gnome-sudoku.xml
/es/es.po
/es/gnome-sudoku.xml
/eu/eu.po
/eu/gnome-sudoku.xml
/fr/fr.po
/fr/gnome-sudoku.xml
/gnome-sudoku-C.omf
/gnome-sudoku-ca.omf
/gnome-sudoku-cs.omf
/gnome-sudoku-da.omf
/gnome-sudoku-de.omf
/gnome-sudoku-el.omf
/gnome-sudoku-en_GB.omf
/gnome-sudoku-es.omf
/gnome-sudoku-eu.omf
/gnome-sudoku-fr.omf
/gnome-sudoku-it.omf
/gnome-sudoku-oc.omf
/gnome-sudoku-pt_BR.omf
/gnome-sudoku-ru.omf
/gnome-sudoku-sv.omf
/it/gnome-sudoku.xml
/it/it.po
/oc/gnome-sudoku.xml
/oc/oc.po
/pt_BR/gnome-sudoku.xml
/pt_BR/pt_BR.po
/ru/gnome-sudoku.xml
/ru/ru.po
/so_locations
/sv/gnome-sudoku.xml
/sv/sv.po
/tags
