/*contains styles only used when AdwStyleManager:dark is TRUE.*/
grid.board {
  border: none;
  background: #747474;
}
grid.block {
  background: #5b5b5b;
}
sudokucell {
  background: #454545;
}
sudokucell.highlight-bg {
  background: #717171;
}
sudokucell.selected {
  background: #4c5e79;
}
sudokucell.fixed {
  background: #343434;
}
sudokucell.paused {
  background: #454545;
}
sudokucell.highlight-label > label {
  color: @view_fg_color;
  background: #20324b;
}
sudokucell > label.earmark.highlight-label {
  color: #20324b;
}
