/*contains styles that are always present.*/
grid.board {
  border: 2px solid #333;
  background: #333;
}
grid.block {
  background: #999;
}
.paused {
  background: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  color: #FFF;
}
sudokucell {
  background: #FFF;
}
sudokucell.highlight-bg {
  background: #EDEDED;
}
sudokucell.selected {
  background: shade(@accent_bg_color, 1.2);
}
sudokucell.fixed {
  background: #CCC;
}
sudokucell label {
  color: @view_fg_color;
}
sudokucell.paused {
  background: #FFF;
}
sudokucell.paused label {
  color: transparent;
}
sudokucell.highlight-label > label {
  background: shade(@accent_bg_color, 1.5);
}
sudokucell > label.earmark.highlight-label {
  /* reduce red to diffentiate from warnings */
  color: oklab(from @accent_color l min(a, 0.1) b);
  font-weight: bold;
}
.earmark.error,
sudokucell.error > label {
  color: @error_color;
  font-weight: bold;
}
