/*contains styles only used when AdwStyleManager:dark is TRUE.*/
grid.board {
  border: none;
  background: #747474;
}
grid.block {
  background: #5b5b5b;
}
sudokucell {
  background: #454545;
}
sudokucell.highlight-bg {
  background: #545454;
}
sudokucell.selected {
  background: shade(@accent_bg_color, 0.7);
}
sudokucell.fixed {
  background: #343434;
}
sudokucell.paused {
  background: #454545;
}
sudokucell.highlight-label > label {
  background: shade(@accent_bg_color, 0.5);
}
