/*contains styles that are always present.*/
:root {
  --sudoku-accent-blue: oklch(0.85 0.25 270);
  --sudoku-accent-teal: oklch(0.85 0.25 215);
  --sudoku-accent-green: oklch(0.85 0.25 145);
  --sudoku-accent-yellow: oklch(0.85 0.25 100);
  --sudoku-accent-orange: oklch(0.85 0.25 60);
  --sudoku-accent-red: oklch(0.85 0.25 20);
  --sudoku-accent-pink: oklch(0.85 0.25 345);
  --sudoku-accent-purple: oklch(0.85 0.25 300);
  --sudoku-accent-slate: oklch(0.85 0.05 250);
}
grid.board {
  border: 2px solid #333;
  background: #333;
}
grid.block {
  background: #999;
}
sudoku-cell {
  background: var(--view-bg-color);
}
sudoku-cell > label {
  color: var(--view-fg-color);
}
sudoku-cell.selected {
  background: var(--sudoku-accent-color);
}
sudoku-cell.highlight-coord {
  background: oklch(from var(--sudoku-accent-color) 0.9 calc(c * 0.25) h);
}
sudoku-cell.highlight-number {
  background: oklch(from var(--sudoku-accent-color) 0.75 c h);
}
sudoku-cell > label.earmark.highlight-number {
  color: oklab(from var(--sudoku-accent-color) 0.5 a b);
  font-weight: bold;
}
sudoku-cell > label.error {
  color: var(--error-color);
}
sudoku-cell > label.error.earmark {
  text-decoration: line-through;
}
sudoku-cell > label.error.value {
  font-weight: bold;
}
sudoku-cell.fixed {
  background: #CCC;
}
@keyframes slow-appear {
  from {opacity: 0;}
  to {opacity: 1;}
}
overlay.paused > label {
  font-weight: bold;
  color: #FFF;
  background: rgba(0, 0, 0, 0.75);
  transition: background 2s;
  animation: slow-appear 2s forwards;
}
sudoku-cell.paused > label {
  opacity: 0%;
  transition: opacity 2s;
}
sudoku-cell.paused {
  background: var(--view-bg-color);
  transition: background 2s;
}
