/*contains styles that are always present.*/
grid.board {
  border: 2px solid #333;
  background: #333;
}
grid.block {
  background: #999;
}
.paused {
  background: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  color: #FFF;
}
sudokucell {
  background: #FFF;
}
sudokucell.highlight-bg {
  background: #EDEDED;
}
sudokucell.selected {
  background: #B2CCE5;
}
sudokucell.fixed {
  background: #CCC;
}
sudokucell label {
  color: @view_fg_color;
}
sudokucell.highlight-label > label {
  color: #3366E5;
}
sudokucell > label.earmark.highlight-label {
  font-weight: bold;
  color: #3366E5;
}
.earmark.error,
sudokucell.error > label {
  color: red;
  font-weight: bold;
}
